[submodule "FinNLP"]
	path = FinNLP
	url = https://github.com/AI4Finance-Foundation/FinNLP.git
	
[submodule "FinRl-Trading"]
	path = FinRl_Trading
	url = https://github.com/adamo130-dev/FinRL-Trading.git
